In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import torch
#from torch import nn

In [2]:
sample = pd.read_csv('original_data/sample_submission.csv')
sample

             image_id              InChI
0        00000d2a601c  InChI=1S/H2O/h1H2
1        00001f7fc849  InChI=1S/H2O/h1H2
2        000037687605  InChI=1S/H2O/h1H2
3        00004b6d55b6  InChI=1S/H2O/h1H2
4        00004df0fe53  InChI=1S/H2O/h1H2
...               ...                ...
1616102  ffffcdb2e39e  InChI=1S/H2O/h1H2
1616103  ffffcfddd770  InChI=1S/H2O/h1H2
1616104  ffffe4ab06b2  InChI=1S/H2O/h1H2
1616105  ffffec4033ec  InChI=1S/H2O/h1H2
1616106  fffffbebd4f5  InChI=1S/H2O/h1H2

[1616107 rows x 2 columns]

In [8]:
!ls -lR original_data/test/ | grep '.png' | wc -l

1616107

### Total: 1616107 test pictures.

#### Submission 1.

Submitting their file with constant weights results in score 110.

## Randomly chosing from train

In [9]:
train = pd.read_csv('original_data/train_labels.csv')
train

             image_id                                              InChI
0        000011a64c74  InChI=1S/C13H20OS/c1-9(2)8-15-13-6-5-10(3)7-12...
1        000019cc0cd2  InChI=1S/C21H30O4/c1-12(22)25-14-6-8-20(2)13(1...
2        0000252b6d2b  InChI=1S/C24H23N5O4/c1-14-13-15(7-8-17(14)28-1...
3        000026b49b7e  InChI=1S/C17H24N2O4S/c1-12(20)18-13(14-7-6-10-...
4        000026fc6c36  InChI=1S/C10H19N3O2S/c1-15-10(14)12-8-4-6-13(7...
...               ...                                                ...
2424181  ffffe824f539  InChI=1S/C10H12F2N2O3/c1-17-7-2-5(3-8(15)16)9(...
2424182  ffffea1ebdfa  InChI=1S/C19H20F2N4O3S/c1-10(8-20)28-14-7-12(2...
2424183  ffffee2b4534  InChI=1S/C22H26Cl2N2O4S/c1-16-6-2-3-10-21(16)3...
2424184  fffff0b6eea6  InChI=1S/C17H26N2O6S/c1-23-16-12-14(4-5-15(16)...
2424185  fffff608dd38  InChI=1S/C10H18N2O9P2/c1-7-10(13)9(5-11-2-3-20...

[2424186 rows x 2 columns]

In [13]:
tmp = train.sample(1616107) # randomly choosing InChI strings from train

In [14]:
tmp

             image_id                                              InChI
704553   4a55b75d3503  InChI=1S/C18H18N2O2/c1-13-6-8-15(9-7-13)10-11-...
912558   604ae8809c63  InChI=1S/C11H14N2O4S/c1-8(7-12)18(14,15)13-9-4...
519992   36df81dcc05b  InChI=1S/C22H35FO4/c1-4-5-14-22(2,3)20(25)13-1...
779305   523c659bfd79  InChI=1S/C11H13Cl2NO/c1-11(4-5-14-7-11)15-8-2-...
1675050  b0d89905462b  InChI=1S/C18H21FN4S/c1-13(8-16-4-3-7-24-16)11-...
...               ...                                                ...
2334883  f68e106af93a  InChI=1S/C21H25NO3/c23-17-5-8-20-19(9-13-25-21...
166885   119509503bc3  InChI=1S/C21H27ClN6O4/c1-20(2,3)15-14(22)17-25...
1714230  b4fc12d8f987  InChI=1S/C26H29F5N8O3/c27-19(4-8-38-9-5-20(23(...
2354898  f8a6e8e90ef0  InChI=1S/C18H17N3O3/c1-3-15(18(23)24)21-16-5-4...
2140628  e1feb93b5f4c  InChI=1S/C22H17N5O4/c1-26-19(15(10-23)11-24-26...

[1616107 rows x 2 columns]

In [16]:
sample['InChI'][:] = tmp['InChI'][:]
sample

             image_id                                              InChI
0        00000d2a601c  InChI=1S/C18H18N2O2/c1-13-6-8-15(9-7-13)10-11-...
1        00001f7fc849  InChI=1S/C11H14N2O4S/c1-8(7-12)18(14,15)13-9-4...
2        000037687605  InChI=1S/C22H35FO4/c1-4-5-14-22(2,3)20(25)13-1...
3        00004b6d55b6  InChI=1S/C11H13Cl2NO/c1-11(4-5-14-7-11)15-8-2-...
4        00004df0fe53  InChI=1S/C18H21FN4S/c1-13(8-16-4-3-7-24-16)11-...
...               ...                                                ...
1616102  ffffcdb2e39e  InChI=1S/C21H25NO3/c23-17-5-8-20-19(9-13-25-21...
1616103  ffffcfddd770  InChI=1S/C21H27ClN6O4/c1-20(2,3)15-14(22)17-25...
1616104  ffffe4ab06b2  InChI=1S/C26H29F5N8O3/c27-19(4-8-38-9-5-20(23(...
1616105  ffffec4033ec  InChI=1S/C18H17N3O3/c1-3-15(18(23)24)21-16-5-4...
1616106  fffffbebd4f5  InChI=1S/C22H17N5O4/c1-26-19(15(10-23)11-24-26...

[1616107 rows x 2 columns]

In [18]:
sample.to_csv('submissions/random_from_train.csv')

In [28]:
sample = pd.read_csv('submissions/random_from_train.csv')
sample

,Unnamed: 0,Unnamed: 0.1,image_id,InChI
0,0,0,00000d2a601c,InChI=1S/C18H18N2O2/c1-13-6-8-15(9-7-13)10-11-...
1,1,1,00001f7fc849,"InChI=1S/C11H14N2O4S/c1-8(7-12)18(14,15)13-9-4..."
2,2,2,000037687605,"InChI=1S/C22H35FO4/c1-4-5-14-22(2,3)20(25)13-1..."
3,3,3,00004b6d55b6,InChI=1S/C11H13Cl2NO/c1-11(4-5-14-7-11)15-8-2-...
4,4,4,00004df0fe53,InChI=1S/C18H21FN4S/c1-13(8-16-4-3-7-24-16)11-...
...,...,...,...,...
1616102,1616102,1616102,ffffcdb2e39e,InChI=1S/C21H25NO3/c23-17-5-8-20-19(9-13-25-21...
1616103,1616103,1616103,ffffcfddd770,"InChI=1S/C21H27ClN6O4/c1-20(2,3)15-14(22)17-25..."
1616104,1616104,1616104,ffffe4ab06b2,InChI=1S/C26H29F5N8O3/c27-19(4-8-38-9-5-20(23(...
1616105,1616105,1616105,ffffec4033ec,InChI=1S/C18H17N3O3/c1-3-15(18(23)24)21-16-5-4...
1616106,1616106,1616106,fffffbebd4f5,InChI=1S/C22H17N5O4/c1-26-19(15(10-23)11-24-26...

In [29]:
sample.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'image_id', 'InChI'], dtype='object')

In [31]:
sample.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)
sample

             image_id                                              InChI
0        00000d2a601c  InChI=1S/C18H18N2O2/c1-13-6-8-15(9-7-13)10-11-...
1        00001f7fc849  InChI=1S/C11H14N2O4S/c1-8(7-12)18(14,15)13-9-4...
2        000037687605  InChI=1S/C22H35FO4/c1-4-5-14-22(2,3)20(25)13-1...
3        00004b6d55b6  InChI=1S/C11H13Cl2NO/c1-11(4-5-14-7-11)15-8-2-...
4        00004df0fe53  InChI=1S/C18H21FN4S/c1-13(8-16-4-3-7-24-16)11-...
...               ...                                                ...
1616102  ffffcdb2e39e  InChI=1S/C21H25NO3/c23-17-5-8-20-19(9-13-25-21...
1616103  ffffcfddd770  InChI=1S/C21H27ClN6O4/c1-20(2,3)15-14(22)17-25...
1616104  ffffe4ab06b2  InChI=1S/C26H29F5N8O3/c27-19(4-8-38-9-5-20(23(...
1616105  ffffec4033ec  InChI=1S/C18H17N3O3/c1-3-15(18(23)24)21-16-5-4...
1616106  fffffbebd4f5  InChI=1S/C22H17N5O4/c1-26-19(15(10-23)11-24-26...

[1616107 rows x 2 columns]

In [32]:
sample.to_csv('submissions/random_from_train.csv', index=False)

In [33]:
sample = pd.read_csv('submissions/random_from_train.csv')
sample

             image_id                                              InChI
0        00000d2a601c  InChI=1S/C18H18N2O2/c1-13-6-8-15(9-7-13)10-11-...
1        00001f7fc849  InChI=1S/C11H14N2O4S/c1-8(7-12)18(14,15)13-9-4...
2        000037687605  InChI=1S/C22H35FO4/c1-4-5-14-22(2,3)20(25)13-1...
3        00004b6d55b6  InChI=1S/C11H13Cl2NO/c1-11(4-5-14-7-11)15-8-2-...
4        00004df0fe53  InChI=1S/C18H21FN4S/c1-13(8-16-4-3-7-24-16)11-...
...               ...                                                ...
1616102  ffffcdb2e39e  InChI=1S/C21H25NO3/c23-17-5-8-20-19(9-13-25-21...
1616103  ffffcfddd770  InChI=1S/C21H27ClN6O4/c1-20(2,3)15-14(22)17-25...
1616104  ffffe4ab06b2  InChI=1S/C26H29F5N8O3/c27-19(4-8-38-9-5-20(23(...
1616105  ffffec4033ec  InChI=1S/C18H17N3O3/c1-3-15(18(23)24)21-16-5-4...
1616106  fffffbebd4f5  InChI=1S/C22H17N5O4/c1-26-19(15(10-23)11-24-26...

[1616107 rows x 2 columns]

In [34]:
!gzip -k submissions/random_from_train.csv

In [35]:
!ls -lh submissions/

total 298M
-rw-rw-r-- 1 alex alex 219M июн  8 10:46 random_from_train.csv
-rw-rw-r-- 1 alex alex  79M июн  8 10:46 random_from_train.csv.gz

With compressed .gz file scoring the Kaggle submission takes a lot longer.

Randomly choosing InChI string for test dataset from train dataset results in score 86.